---
layout: default
title: "科研项目"
permalink: /research/
author_profile: false
---

<div class="container" style="max-width: 1200px; margin: 0 auto; padding: 20px;">
  <h1 style="font-size: 36px; color: #333;">成果展示</h1>

  {% include base_path %}

  <!-- 已发表论文 -->
  <div class="publication-category" style="margin-top: 40px;">
    <h2 style="color: #2980b9; border-bottom: 2px solid #3498db; padding-bottom: 5px;">科研项目</h2>
    <div class="publication-list" style="display: flex; flex-direction: column; gap: 20px;">
{% assign paper_index = 0 %}
{% for publication in site.publications reversed %}
  {% if publication.category == "project" %}
    {% assign paper_index = paper_index | plus: 1 %}
    {% include archive-single.html publication=publication index=paper_index %}
  {% endif %}
{% endfor %}
    </div>
  </div>

  <!-- 已授权专利 -->
  <div class="publication-category" style="margin-top: 40px;">
    <h2 style="color: #27ae60; border-bottom: 2px solid #2ecc71; padding-bottom: 5px;">教学工作</h2>
    <div class="publication-list" style="display: flex; flex-direction: column; gap: 20px;">
   {% assign patent_index = 0 %}
{% for publication in site.publications reversed %}
  {% if publication.category == "teaching" %}
    {% assign patent_index = patent_index | plus: 1 %}
    {% include archive-single.html publication=publication index=patent_index %}
  {% endif %}
{% endfor %}

    </div>
  </div>

    </div>
  </div>

</div>
