---
layout: default
title: "团队成员"
permalink: /talks/
author_profile: true
---

<div class="container" style="max-width: 1200px; margin: 0 auto; padding: 20px;">
<h1 style="font-size: 36px; color: #333;">团队成员</h1>

<!-- 招生广告 -->
<div style="margin-top: 20px; margin-bottom: 40px; font-size: 30px; color: #e74c3c; line-height: 1.6;">
  课题组长期招收
  <a href="https://www.gaoxiaojob.com/job/detail/774429.html" target="_blank" style="color: #e74c3c; font-weight: bold; text-decoration: underline;">
    博士后，科研助理
  </a>。
  <br />
  每年有博士生、硕士生招生名额若干，欢迎报考。
</div>
  
  
<!-- 教职工类别 -->
<div class="team-category">
  <h2 style="color: #e74c3c; border-bottom: 2px solid #3498db; padding-bottom: 5px;">教职工</h2>
  <div class="team-list">
{% assign staff = site.talks | where: "position", "教职工" | sort: "order" %}
{% for post in staff %}
  {% include archive-singleMember.html %}
{% endfor %}
  </div>
</div>

  <!-- 博士后类别 -->
<div class="team-category">
  <h2 style="color: #f39c12; border-bottom: 2px solid #3498db; padding-bottom: 5px;">博士后</h2>
  <div class="team-list" style="display: flex; flex-wrap: wrap; gap: 30px;">
    {% for post in site.talks %}
      {% if post.position == "博士后" %}
        {% include archive-single-talk.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>


<!-- 博士类别 -->
<div class="team-category">
  <h2 style="color: #9b59b6; border-bottom: 2px solid #3498db; padding-bottom: 5px;">博士</h2>
  <div class="team-list" style="display: flex; flex-wrap: wrap; gap: 30px;">
    {% for post in site.talks %}
      {% if post.position == "博士" %}
        {% include archive-single-talk.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<!-- 硕士类别 -->
<div class="team-category">
  <h2 style="color: #f39c12; border-bottom: 2px solid #3498db; padding-bottom: 5px;">硕士</h2>
   <div class="team-list" style="display: flex; flex-wrap: wrap; gap: 30px;">
    {% assign sorted_masters = site.talks | where: "position", "硕士" | sort: "order" %}
    {% for post in sorted_masters %}
      {% include archive-single-talk.html %}
    {% endfor %}
  </div>
</div>


  
</div>
